/* @font-face {
    font-family: centuryGothic;
    src: url(../public/fonts/century-gothic/Century\ Gothic.ttf);
  }
  @font-face {
    font-family: centuryGothicBold;
    src: url(../public/fonts/century-gothic/GOTHICB.TTF);
  }
  @font-face {
    font-family: poppinsBold;
    src: url(../public/fonts/poppins/Poppins-Black.ttf);
  }
  @font-face {
    font-family: poppinsMedium;
    src: url(../public/fonts/poppins/Poppins-Medium.ttf);
  }

  :root{
    --nav-colors: #02E6D6;
    --yunki-color: #F40802;
    --light-gray: #F7F7F7;
    --dark-gray: #d9d9d9;
    --darker-gray: #a4a4a4;
    --yellow: #ffb700;
    }
  
  *{
    font-family: centuryGothic;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
  } */