@font-face {
    font-family: centuryGothic;
    src: url(../public/fonts/century-gothic/Century\ Gothic.ttf);
  }
  @font-face {
    font-family: centuryGothicBold;
    src: url(../public/fonts/century-gothic/GOTHICB.TTF);
  }

  :root{
    --nav-color: #0B0E14;
    --yunki-color: #F40802;
    --light-gray: #F7F7F7;
    --dark-gray: #d9d9d9;
    --darker-gray: #a4a4a4;
    }

   *{
    font-family: centuryGothic;
  }

  .checkout__container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
  }

  .checkout__container .checkout__left{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: aquamarine; */
    margin: 30px;
    margin-right: 33%;
  }

  .checkout__left .checkout__text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    object-fit: contain;
    /* background-color: black; */
  }
  
  .checkout__text img{
    width: 100%;
  }

  .checkout__text ul {
    /* margin-top: 35px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .checkout__text ul li{
    list-style: none;
    margin: 35px;
    /* background-color: saddlebrown; */
  }

  .checkout__container h1{
    font-size: 1.6rem;
  }

  .checkout__text hr{
    width: 100%;
    height: 1px;
    background-color: var(--dark-gray);
  }

  .checkout__container .checkout__right{
    position: fixed;
    top: 15vh;
    left: 65%;
    width: 30%;
    /* height: 15vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    /* background-color: blue; */
  }

  
  .checkout__right .checkout__subtotal{
    position: static;
    top: 0px;
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* background-color: saddlebrown; */
  }