@font-face {
  font-family: varelaRoundRegular;
  src: url(../public/fonts/VarelaRound-Regular.otf);
}
@font-face {
  font-family: poppinsMedium;
  src: url(../public/fonts/poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../public/fonts/poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsMedium;
  src: url(../public/fonts/poppins/Poppins-Medium.ttf);
}

  :root{
  --yunki-black: #0B0E14;
  --brilliant-blue: #004BF2;
  --light-blue: #0200BB;
  --yunki-color: #F40802;
  --light-gray: #F7F7F7;
  --dark-gray: #d9d9d9;
  --darker-gray: #a4a4a4;
  --yellow: #FBBA00;
  /* --font-color: #434343; */
  }
  
  *{
    font-family: poppinsMedium;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    /* color: var(--font-color); */
  }

  .activeholder{
    width: 100%;
    height: 2%;
    background-color: rgb(244, 16, 16);
    display: block;
    /* color: var(--light-blue); */
  }

  .navbar__section{
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: 	var(--brilliant-blue);
    /* border-bottom: 10px solid #FBBA00; */

    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.818); */
    /* border-radius: 16px; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    /* backdrop-filter: blur(5px); */
    -webkit-backdrop-filter: blur(5px);
    /* overflow: hidden; */
    /* box-shadow: 0px .3px 9px 0px var(--dark-gray); */
    /* box-shadow: 0px .3px 9px 0px yellowgreen; */
  }
  .navbar__section .navIcons__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65%;
    /* background-color: rebeccapurple; */
  }
  .navIcons__container .side-icons{
    width: 15%;
    height: 100%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: red; */
  }
  .navIcons__container .leftIcon-holder{
    margin-left: 60px;
    /* background-color: blue; */
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .leftIcon-holder .nav-search{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: #ffb700; */
  }
  .nav-search input{
    background-color: white;
    border: 2px;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    border-color: var(--dark-gray);
    text-align: center;
    font-size: .8rem;
    font-family: poppinsMedium;
  }
  .nav-search .search-icon{
    /* background-color: blue; */
    width: 20%;
    height: 100%;
    padding: 9px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
  }
  .search-icon img{
    width: 100%;
  }
  .navIcons__container .rightIcon-holder{
    margin-right: 60px;
  }
  .navIcons__container .side-icons .nav__icon{
    width: 25%;
    height: 100%;
    /* background-color: rgb(71, 255, 80); */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* position: relative; */
    text-align: center;
    font-size: .8rem;
  }
  .nav__icon img{
    width: 57%;
    /* height: 100%; */
    cursor: pointer;
    /* background-color: red; */
  }
  /* .nav__icon h4{
    text-decoration: none;
    color: white;
    z-index: 3;
  } */
  /* .active{
    border-bottom: 2px solid var(--yunki-color);
  } */
  
  .nav__icon .visit__link{
    /* background-color: #00c8ff; */
    position: relative;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 150px;
    height: 150px;
    border-radius: 100px;
  }
  /* .nav__icon .user__icon{
    background-color: #ffe7e6;
  }
  .nav__icon .heart-icon{
    background-color: rgb(255, 223, 255);
  }
  .nav__icon .shopping-basket{
    background-color: #ffefc8;
  } */
  .visit__link > strong{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    width: 20px;
    height: 20px;
    background-color: #FBBA00;
    /* background-color: yellowgreen; */
    color: white;
    font-size: .8rem;
    position: absolute;
    /* top: 1px; */
    margin-left: 35px;
    text-align: center;
  }
  .visit__link h6{
    font-size: .1rem;
    font-family: poppinsLight;
    width: 100%;
  }
  .nav__icon .user-dropDown{
    /* position: relative; */
    /* border-radius: 12px; */
    width: 15vw;
    height: 50vh;
    background-color: white;
    position: absolute;
    top: 12vh;
    /* left: -50%; */
    box-shadow: 0px .3px 5px 0px var(--darker-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* opacity: 0; */
    border: 1.5px solid var(--yellow);
    border-radius: 5px;
  }
  .user-dropDown h3{
    z-index: 3;
    font-size: .9rem;
    margin-top: 20px;
  }
  .user-dropDown::after{
    content: '';
    position: absolute;
    width:18px;
    height: 18px;
    background-color: white;
    /* bottom: -5px; */
    z-index: 2;
    /* left: -1px; */
    margin-left: 17px;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    top: -3%;
    border-top: 1.5px solid var(--yellow);
    border-left: 1.5px solid var(--yellow);
    border-radius: 5px;
    /* border: 1.5px solid var(--brilliant-blue); */
  }
  .user-dropDown ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    z-index: 5;
  }
  ul .visit__link{
    border-bottom: 1px solid white;
    width: 85%;
  }
  .side-icons .line{
    width: 3.5%;
    height: 40%;
    background-color: var(--dark-gray);
    z-index: 9;
  }
  .nav__icon .visit__link .login{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 10px; */
    /* background-color: #ff4800; */
    /* color: white; */
    font-family: centuryGothicBold;
    font-size: 1rem;
  }
  .nav__icon .delivery-icon{
    width: 80%;
  }
  .delivery-text{
    /* margin-bottom: 50px; */
    position: absolute;
    bottom: -20px;
    /* background-color: blue; */
  }
  .navIcons__container .yunkiLogo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: seagreen; */
    width: 8.5%;
    /* height: 100%; */
  }
  .yunkiLogo-container .logo-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .yunkiLogo-container .logo-link img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar__section .link-section{
    width: 65%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    /* border-bottom: 3px solid var(--yellow); */
  }
  .link-section .link-container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 10px */
    /* background-color: yellow; */
  }
  .link-section .link-container ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: hotpink; */
  }
  .link-container ul li{
    list-style: none;
    /* font-size: 1rem; */
    /* color: white; */
    cursor: pointer;
  }
  .link-container ul li::after{
    content: '';
    height: 1.5px;
    width: 0%;
    background-color: #FBBA00;
    display: block;
    transition: .6s ease-in-out;
  }
  .link-container ul li:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #FBBA00;
    display: block;
  }
  .link-container ul li a{
    text-decoration: none;
    /* font-family: poppinsMedium; */
    /* font-family: varelaRoundRegular; */
    font-size: .8rem;
    /* font-weight: bold; */
    /* color: white; */
    letter-spacing: 2px;
    font-weight: bolder;
  }
  .link-container ul li a:hover{
    transition: .6s ease all;
  }
 .navbar__section .active{
    color: #FBBA00;
  }
  .navbar__section .mobile-menu-dropdown,
  .navbar__section .menu-display,
  .navbar__section .isopen-menu{
    display: none;
  }



/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .navbar__section .link-section{
    display: none;
  }
  .side-icons #search-icon{
    display: none;
  }
  .side-icons{
    /* background-color: red; */
  }
  .side-icons .user-section{
    
  }
  .user__icon{
    width: 20%;
  }
  .navbar__section .isopen-menu,
  .close-btn{
    display: block;
    right: 0px;
    /* background-color: blue; */
    width: 10%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }
  .navbar__section{
    height: 9vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 3px solid var(--yellow); */
  }
  .navIcons__container .yunkiLogo-container{
    /* background-color: tomato; */
    width: 30%;
    height: 100%;
    z-index: 50;
  }
  .yunkiLogo-container img{
    width: 100%;
  }
  .navbar__section .mobile-menu-dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7.5vh;
    /* border-bottom: 3px solid var(--yellow); */
    /* box-shadow: 0px 0px 9px 0px var(--yellow); */
    /* right: 0; */
    height: 49.2vh;
    width: 100%;
    /* background-color: var(--mint); */
  }
  .mobile-menu-dropdown .search-section{
    position: absolute;
    top: 0vh;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;
    background-color: var(--brilliant-blue);
    /* background-color: red; */
  }
  .search-section .search-container{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
  }
  .search-container .search-btn{
    margin-bottom: 20px;
    width: 10%;
    height: 80%;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0px 15px 15px 0px;
  }
  .search-btn img{
    width: 100%;
  }
  .search-container input{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
    background-color: white;
  }
  .search-container input:hover{
    border: 1px solid var(--yellow);
    box-shadow: 0px 0px 9px 0px var(--yellow);
  }
  .search-container input:hover input .search-btn{
    border: 1px solid var(--yellow);
    box-shadow: 0px 0px 9px 0px var(--yellow);
  }
  .search-container input::placeholder{
    text-align: center;
  }
  .mobile-menu-dropdown ul{
    background-color: var(--brilliant-blue);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    /* border-bottom: 3px solid var(--yellow); */
    /* background-color: lime; */
  }
  .mobile-menu-dropdown ul li{
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 44.5px;
    width: 100%;
    /* background-color: var(--yellow); */
  }
  .mobile-menu-dropdown ul li a{
    z-index: 5;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    text-decoration: none;
    font-family: poppinsMedium;
    color: white;
  }
  .mobile-menu-dropdown ul li a:hover{
    background-color: var(--yellow);
  }
  .mobile-menu-dropdown .overlay{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000009c;
  }
  .navbar__section .navIcons__container {
    /* background-color: crimson; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar__section .navIcons__container .side-icons{
    /* background-color: navajowhite; */
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .side-icons img{
    width: 100%;
    /* background-color: red; */
  }
  #heart__icon{
    position: absolute;
    /* background-color: red; */
    right: 5%;
    width: 40%;
  }
  .navIcons__container .line-invisible{
    display: none;
  }
  .search-icon{
    display: none;
  }
  .nav__icon .visit__link{
    width: 40%;
    height: 100%;
    /* background-color: #FBBA00; */
  }
  .visit__link .search-text{
    display: none;
  }
  .side-icons .line{
    z-index: 5;
    display: none;
  }
  .side-icons .nav__icon{
    /* background-color: rgb(0, 255, 115); */
    margin-bottom: 6px;
    width: 10%;
  }
  .navIcons__container #nonDisplay{
    /* background-color: aqua; */
    display: none;
  }
  .navIcons__container .rightIcon-holder{
    margin-right: 20px;
    position: absolute;
    width: 100%;
    /* background-color: #FBBA00; */
  }
  .nav__icon .visit__link{
    /* background-color: red; */
  }
  
  .visit__link h4{
    font-size: .7rem;
    /* background-color: black; */
    position: absolute;
    top: 58%;
    font-family: poppinsMedium;
  }
  .visit__link strong{
    width: 18px;
    height: 18px;
    top: 16px;
    font-size: .8rem;
  }
}

/* Small screen devices (600px and above) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium screen devices (768px and above) */
/* @media only screen and (min-width: 768px) {...} */

/* Big screen devices (889px and above) */
/* @media only screen and (min-width: 889px) {...} */

/* Extra big screen devices (1200px and above) */
/* @media only screen and (min-width: 1200px) {...} */