@font-face {
    font-family: centuryGothic;
    src: url(../public/fonts/century-gothic/Century\ Gothic.ttf);
  }
  @font-face {
    font-family: centuryGothicBold;
    src: url(../public/fonts/century-gothic/GOTHICB.TTF);
  }
  @font-face {
    font-family: poppinsBold;
    src: url(../public/fonts/poppins/Poppins-Black.ttf);
  }
  @font-face {
    font-family: poppinsMedium;
    src: url(../public/fonts/poppins/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: poppinsLight;
    src: url(../public/fonts/poppins/Poppins-Light.ttf);
  }

  :root{ 
    --yunki-black: #0B0E14;
    --skyblue: #000755;
    --light-blue: #0200BB;
    --yunki-color: #F40802;
    --light-gray: #F7F7F7;
    --dark-gray: #d9d9d9;
    --darker-gray: #a4a4a4;
    --yellow: #ffb700;
    --font-color: #434343;
    }

*{
    /* color: white; */
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: poppinsMedium;
}

.Footer__container {
    width: 100vw;
    height: 60vh;
    background-color: var(--yunki-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border-top: 3px solid var(--yellow);
    box-shadow: 0px .3px 9px 0px var(--yellow); */
}
.Footer__container .login-container{
    position: absolute;
    /* width: 50vw;
    height: 50vh; */
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.Footer__container .footer-logo{
    width: 45%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yunki-black);
}
.footer-logo img{
    width: 15%;
}
.footer-links{
    width: 60%;
    height: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: saddlebrown; */
}

.Footer__container .content{
    height: 90%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: white;
    /* background-color: wheat; */
}
.content h1{
    font-size: 1.3rem;
    color: white;
    font-family: poppinsMedium;
}
.content .link-holder{
    width: 100%;
    height: 85%;
    font-size: 1rem;
    /* background-color: purple; */
}
.link-holder p{
    margin: 10px 0px;
    /* font-family: centuryGothicBold; */
    color: white;
    font-family: poppinsMedium;
}
.link-holder .footer-icons-container{
    /* background-color: red; */
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.footer-links .help-container{
    height: 100%;
    /* background-color: red; */
}
.footer-icons-container .main-icon{
    width: 100%;
    height: 20%;
    /* background-color: blue; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}
.footer-icons-container .location-section{
    /* background-color: violet; */
    height: 50%;
    display: flex;
    flex-direction: column;
}
.main-icon .location-icon{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 10px;
    /* background-color: blue; */
}
h5{
    color: white;
    font-family: poppinsMedium;
}
.main-icon p{
    font-size: .9rem;
    font-weight: lighter;
    color: white;
    font-family: poppinsMedium;
    /* margin-bottom: 20px; */
    /* background-color: saddlebrown; */
}
.main-icon img{
    width: 25%;
    /* background-color: #F40802; */
}
.footer-icons-container .hr{
    /* position: absolute; */
    width: 100%;
    height: 1%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-icon .follow-icons{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: salmon; */
}
.follow-icons .follow-icon-container{
    position: relative;
    /* background-color: rgb(230, 0, 0); */
    height: 110%;
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 40px;
    justify-content: space-between;
    /* border-radius: 50px; */
}
.follow-icon-container img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
}
.follow-icon-container .tooltip{
    position: absolute;
    width: 72px;
    height: 39px;
    z-index: 29;
    display: flex;
    align-items: center;
    border-radius: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    justify-content: center;
    background-color:white;
    bottom: 55px;
}
.follow-icon-container:hover .tooltip{
    bottom: 55px;
    /* right: 10px; */
    opacity: 1;
    font-size: 1rem;
    text-align: center;
    background-color: white;
    visibility: visible;
    pointer-events: auto;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.follow-icon-container .tooltip::before{
    content: '';
    position: absolute;
    width:15px;
    height: 15px;
    background-color: white;
    bottom: -5px;
    z-index: -4;
    left: 36px;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.tooltip p{
    font-size: .8rem;
    z-index: 46px;
    color: var(--font-color);
    /* color: var(--mint); */
    font-family: poppinsMedium;
}
.Footer__container .copyright-contents{
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: tomato; */
}
.copyright-contents img{
    width: 35%;
}
.copyright-contents .copyright-text{
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright-text p{
    color: white;
    font-size: 1rem;
    font-family: poppinsBold;
}
.copyright-contents .ghanaFlag{
    /* background-color: blue; */
    width: 17%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ghanaFlag .ghanaFlag-image{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ghanaFlag h6{
    width: 50%;
    font-size: .9rem;
    color: white;
}



@media only screen and (max-width: 595px){
    .Footer__container{
        height: 130vh;
    }
    .Footer__container .footer-logo{
        width:100%;
    }
    .footer-logo img{
        width: 25%;
    }
    .footer-links{
        /* background-color: red; */
        height: 90%;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }
   .Footer__container .content{
        /* background-color: yellow; */
        justify-content: space-between;
        width: 90%;
        height: 90%;
        text-align: center;
    }
    .content h1{
        text-align: center;
        font-size: 1.3rem;
        align-self: center;
        margin-top: 20px;
    }
    .footer-icons-container .main-icon{
        /* background-color: red; */
        width: 77%;
        height: 50%;
    }
    .footer-icons-container .hr{
        background-color: rgb(85, 255, 0);
        height: 30%;
        width: 60%;
    }
    .link-holder{
        /* background-color: blueviolet; */
    }
    .location-section p{
        text-align: left;
    }
    .Footer__container .copyright-contents{
        width: 100%;
        /* background-color: blue; */
    }
    .copyright-text p{
        font-size: .8rem;
    }
    .ghanaFlag-image{
        width: 100%;
    }
    .ghanaFlag-image img{
        width: 60%;
    }
    .ghanaFlag h6{
        font-size: .7rem;
    }
}
    /* Small screen devices (600px and above) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium screen devices (768px and above) */
/* @media only screen and (min-width: 768px) {...} */

/* Big screen devices (889px and above) */
/* @media only screen and (min-width: 889px) {...} */

/* Extra big screen devices (1200px and above) */
/* @media only screen and (min-width: 1200px) {...} */